@import "tailwindcss";

@theme {
  --color-red-club: #e50914;
  --color-red-bright: #ff2a2a;
  --color-gold-club: #c9a84c;
  --color-bg-deep: #050505;
  --color-surface-club: #0f0f0f;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050505;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #e50914;
  border-radius: 4px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #e50914 #0a0a0a;
}
