@import "tailwindcss";

@theme {
  --color-brand-green: #0e3325;
  --color-brand-cream: #efefec;
  --color-bg-deep: #040e08;
  --color-surface: #060f09;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #040e08;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #030c06;
}
::-webkit-scrollbar-thumb {
  background: #0e3325;
  border-radius: 4px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #0e3325 #030c06;
}
